* {
    font-family: 'Rubik', sans-serif;
}
.img{
    border-radius: 10px;
}

.you {

    margin-left: 50px;
    margin-top: 70px;
    border: 1px solid;
    border-radius: 20px;
}

.btn:hover{
    background-color: green;
}

.shadow{
    margin: 20px;
    border-radius: 10px;
}
.card{
    border-radius: 10px;
}
.card-img-top{
    padding: 0px;
    max-height: 300px;
    min-height: 300px;
}

.python{
    padding:60px
}